button {
    height: 35px;
    background-color: rgb(248, 0, 0);
    min-width: 40px;
    border-radius: 17px;
    border: 1px solid rgb(80, 80, 80);
    font-family: 'Roboto';
    color: white;
    font-size: 100%;
    padding: 0px 15px;
    margin: 0px 5px;
}